<div class="jumbotron">
  <h1>Добро пожаловать на сайт Фотоконкурс!</h1>
  <p>Для выполнения каких-либо действий кроме просмотра фотографий неоходимо войти в систему, используя регистрационные данные социальных сетей</p>
</div>