.jimbotron
  %table{:valign => "middle", :width => "100%"}
    %tr
      %td{:height => "80em"}
        = render 'sorting'
      %td{:align => "right"}
        = render 'search_tag'
      %td{:align => "right"}
        = render 'search_user'