<%= render 'sorting_and_search' %>

<% if @tags[0] %>
  <h2> Последние 20 фотографий из Instagram по хэш-тегу "<%= @tags[0].name %>":</h2>
  <% for media_item in @client.tag_recent_media(@tags[0].name) %>
      <%= image_tag media_item.images.thumbnail.url %>
  <% end %>
<% else %>
  <h2>По вашему запросу '<%= params[:q] %>' ничего не было найдено.</h2>
  <h2>Попробуйте ввсети другой запрос</h2>
<% end %>