@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';


nav {
  img {
    max-width: 48px;
  }
}

container {
	jimbotron {
	  display: inline !important;
	  position: relative !important;
    
	}
}
