<div class= 'jimbotron'>
  Упорядочить фото по:<br>
  <%= link_to 'дате (вверху новые)', photo_galleries_path(sorting: 'ca') %> | 
  <%= link_to 'дате (вверху старые)', photo_galleries_path(sorting: 'cd') %> | 
  <%= link_to 'голосам (вверху большие)', photo_galleries_path(sorting: 'ld') %> | 
  <%= link_to 'голосам (вверху меньшие)', photo_galleries_path(sorting: 'la') %> | 
</div>
