<% @photo_galleries.each do |photo_gallery| %>
  <div class="jumbotron">
    <table>
      <tr>
        <td width='200' valign='middle' align='middle'>
          <%= image_tag photo_gallery.photography %><br>
          Текст к фото: <%= photo_gallery.photo_name %><br>
          <% user = User.find(photo_gallery.user_id) %>
        </td>
        <td>

        </td>
        <td>
          
          
        </td>
      </tr>
    </table>
  </div>
<% end %>
